{% extends "base.html" %}

{% block content %}

    <div class="container-fluid">
        <h2>Posts</h2><br>
        <div class="col col-12">
            <div class="card">
                <table class="table table-hover">
                    <thead class="table-primary">
                      <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Subtitle</th>
                        <th scope="col">Categories</th>
                        <th scope="col">Tags</th>
                        <th scope="col">Create At</th>
                        <th scope="col">Options</th>
                      </tr>
                    </thead>
                    {% for post in posts%}
                    <tbody>
                      <tr>
                        <td>{{ post.title }}</td>
                        <td>{{ post.subtitle }}</td>
                        <td>{{ post.categories }}</td>
                        <td>{{ post.tags }}</td>
                        <td>{{ post.create_at }}</td>
                        <td>
                          <!-- Button trigger modal Delete-->
                          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#PostDeleteModal{{ post.id }}">
                            <i class="bi bi-trash"></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                            </svg>
                          </button>
                          <!-- Button trigger modal Edit-->
                          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#PostEditModal{{ post.id }}">
                            <i class="bi bi-pencil-square"></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg>
                          </button>
                          <!-- Modal Delete-->
                          <div class="modal fade" id="PostDeleteModal{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="PostDeleteModalLabel{{ post.id }}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="PostDeleteModalLabel{{ post.id }}">Delete Post</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure to Delete this Post <strong>{{ post.title }}</strong>?
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <form action="{% url 'dashboard:delete_post' post.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Yes, Delete</button>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
            <br>
            <a href="{% url 'dashboard:create_post' %}" class="btn btn-success">Create Post</a>
        </div>
    </div>

{% endblock %}