{% extends 'base.html' %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.ckeditor.com/4.20.1/standard/ckeditor.js"></script>

<div class="container mt-5" style="max-width: 1400px;">
    <div class="card shadow-lg p-4">
        <h4 class="card-title text-center">Update Post</h4>
        <form action="{% url 'dashboard:update_post' post.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ post.title }}">
            </div>

            <div class="mb-3">
                <label for="subtitle" class="form-label">Subtitle</label>
                <input type="text" class="form-control" id="subtitle" name="subtitle" value="{{ post.subtitle }}">
            </div>

            <div class="mb-3">
                <label for="content" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="4">{{ post.description }}</textarea>
            </div>

            <div class="mb-3">
                <label for="imagen_main" class="form-label">Imagen</label>
                <input type="file" class="form-control" id="imagen_main" name="imagen_main">
            </div>

            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea class="form-control" id="editor" name="content" rows="4">{{ post.content|safe }}</textarea>
            </div>

            <div class="mb-3">
                <label for="category_id" class="form-label">Category</label>
                <select class="form-select" id="category_id" name="category_id">
                    <option value="{{ post.category_id }}" selected>---- {{ post.categories }} ----</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>


            <div class="mb-3">
                <label for="tags_id" class="form-label">Tag</label>
                <select class="form-select" id="tags_id" name="tags_id">
                    <option value="{{ post.tags_id }}" selected>---- {{ post.tags}} ----</option>
                    {% for tag in tags %}
                    <option value="{{ tag.id }}">{{ tag.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-warning">Update Post</button>
            </div>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    CKEDITOR.replace('editor');
</script>

{% endblock%}