{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</div>

    <div class="container-fluid">
        <h2>Users</h2><br>
        <div class="col col-12">
            <div class="card">
                <table class="table table-hover">
                    <thead class="table-primary">
                      <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Type User</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Last Access</th>
                        <th scope="col">Date Joined</th>
                        <th scope="col">Options</th>
                      </tr>
                    </thead>
                    {% for user in users%}
                    <tbody>
                      <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.is_superuser }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.last_login }}</td>
                        <td>{{ user.date_joined }}</td>
                        <td>
                            <!-- Button trigger modal Delete-->
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#UserDeleteModal{{ user.id }}">
                                    <i class="bi bi-trash"></i>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                </svg>
                            </button>
                            <!-- Button trigger modal Edit-->
                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#UserEditModal{{ user.id }}">
                                <i class="bi bi-pencil-square"></i>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                </svg>
                            </button>
                            <!-- Button trigger modal Change Password-->
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#ChangePasswordModal{{ user.id }}">
                                <i class="bi bi-shield-lock"></i>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shield-lock" viewBox="0 0 16 16">
                                    <path d="M5.338 1.59a61 61 0 0 0-2.837.856.48.48 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.7 10.7 0 0 0 2.287 2.233c.346.244.652.42.893.533q.18.085.293.118a1 1 0 0 0 .101.025 1 1 0 0 0 .1-.025q.114-.034.294-.118c.24-.113.547-.29.893-.533a10.7 10.7 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.8 11.8 0 0 1-2.517 2.453 7 7 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7 7 0 0 1-1.048-.625 11.8 11.8 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 63 63 0 0 1 5.072.56"/>
                                    <path d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415"/>
                                  </svg>
                            </button>
                            <!-- Modal Delete-->
                            <div class="modal fade" id="UserDeleteModal{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="UserDeleteModalLabel{{ user.id }}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="UserDeleteModalLabel{{ user.id }}">Delete User</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure to Delete this user <strong>{{ user.username }}</strong>?
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      <form action="{% url 'dashboard:delete_user' user.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Yes, Delete</button>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <!-- Modal Edit-->
                            <div class="modal fade" id="UserEditModal{{ user.id }}" tabindex="-1" aria-labelledby="UserEditModalLabel{{ user.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="UserEditModalLabel{{ user.id }}">Edit User</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{% url 'dashboard:update_user' user.id %}" method="POST">
                                            {% csrf_token %}
                                            <div class="form-group">
                                              <label for="InputUsername">Username</label>
                                              <input type="text" class="form-control" id="InputUsername" name="username" value="{{ user.username }}" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="FormControlSelect1">Type User</label>
                                                <select class="form-control" id="FormControlSelect1" id="is_superuser" name="is_superuser" required>
                                                  <option value="1">Superuser</option>
                                                  <option value="0">Editor</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="InputFirstName">First Name</label>
                                                <input type="text" class="form-control" id="InputFirstName" name="first_name" value="{{ user.first_name }}" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="InputLastName">Last Name</label>
                                                <input type="text" class="form-control" id="InputLastName" name="last_name" value="{{ user.last_name }}" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="InputEmail">Email</label>
                                                <input type="email" class="form-control" id="InputEmail" name="email" value="{{ user.email }}" required>
                                            </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      <button type="submit" class="btn btn-warning">Save changes</button>
                                    </form>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <!-- Modal Change Password -->
                            <div class="modal fade" id="ChangePasswordModal{{ user.id }}" tabindex="-1" aria-labelledby="ChangePasswordModalLabel{{ user.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="ChangePasswordModalLabel{{ user.id }}">Change Password</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{% url 'dashboard:update_password' user.id %}" method="POST">
                                            {% csrf_token %}
                                            <div class="mb-3">
                                                <label for="InputPassword1" class="form-label">Password</label>
                                                <input type="password" class="form-control" name="password1" id="InputPassword1" required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="InputPassword2" class="form-label">Confirm Password</label>
                                                <input type="password" class="form-control" name="password2" id="InputPassword2" required>
                                            </div>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success">Save changes</button>
                                        </form>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </td>
                      </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
            <br>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#UserCreateModal">
                Create User
            </button>
        </div>
    </div>


<!-- Modal Create User-->
<div class="modal fade" id="UserCreateModal" tabindex="-1" role="dialog" aria-labelledby="UserCreateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="UserCreateModalLabel">Create User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="{% url 'dashboard:create_user' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="InputUsername" class="form-label">Username</label>
                    <input type="text" class="form-control" id="InputUsername" name="username" required>
                </div>
                <div class="form-group">
                    <label for="FormControlSelect1">Type User</label>
                    <select class="form-control" id="FormControlSelect1" id="is_superuser" name="is_superuser" required>
                      <option value="1">Superuser</option>
                      <option value="0">Editor</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="InputFirstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="InputFirstName" name="first_name" required>
                </div>
                <div class="mb-3">
                    <label for="InputLastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="InputLastName" name="last_name" required>
                </div>
                <div class="mb-3">
                  <label for="InputEmail" class="form-label">Email</label>
                  <input type="email" class="form-control" id="InputEmail" name="email" aria-describedby="emailHelp" required>
                </div>
                <div class="mb-3">
                  <label for="InputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" name="password1" id="InputPassword1" required>
                </div>
                <div class="mb-3">
                    <label for="InputPassword2" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" name="password2" id="InputPassword2" required>
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success">Create</button>
            </form>
        </div>
      </div>
    </div>
</div>

{% endblock %}