{% extends 'main.html' %}

{% block content %}

<div class="container">
    <div class="card" style="padding: 15px; margin: 25px;">
        <h2>{{ post.title }}</h2>
        <h5>{{ post.subtitle }}</h5>
        <img src="{{ post.image_main.url }}" style="width: 100%; height: 700px;">
        <br>
        <p>{{ post.content|safe }}</p>
        <div style="display: flex; justify-content: space-between;">
            <div style="display: flex; gap: 25px;">
                <a class="btn btn-primary" href="{% url 'web_blog:home' %}">Back</a>
                <p class="card-text mt-2"><small class="text-body-secondary">{{ post.create_at }}</small></p>
            </div>
            <div style="display: flex; gap: 25px;">
                <p class="card-text"><small class="text-body-secondary">{{ post.categories }}</small></p>
                <p class="card-text"><small class="text-body-secondary">{{ post.tags }}</small></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}